html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='id' content=id)

		title Products

		link(rel='stylesheet' href='/css/bootstrap.min.css')

	body
		h2=id
		button(id="deleteBtn" type="button" class="btn btn-danger") Delete Item
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="../scripts/editProduct.js")