html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		title Products

		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='../stylesheets/products.css')

	body
		h2 Products Page
		a(href = "http://localhost:4000/products/addProduct", class="btn btn-default") Add Item
		table(class='table table-bordered table-hover')
			thead(class="thead-dark")
				tr
					th(class='text-center') Item
					th(class='text-center') Cost
					th(class='text-center') Price
					th(class='text-center') Margin
					th(class='text-center') Markup
					th(class='text-center') Quantity
					th(class='text-center') Total Value
			tbody

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="../scripts/products.js")

