html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		title Products

		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='../stylesheets/products.css')

	body
		h2 Products Page
		a(href='http://localhost:4000/products/addProduct' class='btn btn-secondary') Add Item
		table(class='table table-hover table-striped')
			thead(class='thead-dark')
				tr
					th(class='text-left') Item
					th(class='text-right') Cost
					th(class='text-right') Price
					th(class='text-right') Margin
					th(class='text-right') Markup
					th(class='text-right') Quantity
					th(class='text-right') Total Value
			tbody

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="/js/bootstrap.min.js")
	script(src="../scripts/products.js")
