html
	head
		title Products
		link(rel='stylesheet' type='text/css' href='../stylesheets/products.css')
	body
		h1 Item Listing
		table(style = 'width:100%', border='1')
			tr
				th Item
				th Cost
				th Price
				th Margin
				th Markup
				th Quantity
				th TV




		
