html
	head
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='../stylesheets/transactions.css')

		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
		link(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')

	body
		table(class='table table-hover table-striped sortable-theme-bootstrap' data-sortable)
						thead
							tr
								th id
								th Items
								th Timestamp
								th Total
								th Volunteers
								
						tbody(id = "myTable")
	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="js/bootstrap.min.js")
	script(src="../scripts/transactions.js")
