html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		title Transactions

		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='../stylesheets/transactions.css')
		link(rel="stylesheet" type="text/css"
		     href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css")

	body
		nav(class='navbar navbar-dark bg-secondary sticky-top')
			span(class='navbar-brand') BCA Mart Point of Sale
			ul(class='nav nav-pills justify-content-end')
				li(class='nav-item')
					a(class='nav-link' href='http://localhost:4000/products') Products
				li(class='nav-item')
					a(class='nav-link' href='http://localhost:4000/volunteers') Volunteers
				li(class='nav-item' style='padding-right: 5px;')
					a(class='nav-link' href='http://localhost:4000/transactions') Transactions
				li(class='nav-item')
					button(class='button btn btn-outline-warning') Logout
		div(class='container')
			h1 Transactions
			div(class='container-fluid border tableDiv')
				table(class='table table-hover table-striped' id='tTable')
							thead(class = 'thead-dark')
								tr
									th Date
									th Net Total
									th Discount
									th Volunteers
							tbody(id = 'transactionBody')
	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="js/bootstrap.min.js")
	script(type="text/javascript" charset="utf8"
	       src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js")
	script(type="text/javascript" charset="utf8"
	       src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/date-de.js")
	script(src="../scripts/transactions.js")
