.number {
	text-align: right;
}

.text {
	text-align: left;
}

.register input {
	text-align: right;
}

#volunteerInput {
	text-align: left;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

div .row {
	margin: 0px;
}

#pGroup button {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

#pGroup {
	background-color: #F5F5F5;
	border-top-width: medium;
	border-top-color: violet;
	border-top-style: solid;
}

.prodTableDiv {
	padding-left: 0px;
	padding-right: 0px;
}

#transactionToast {
	position: absolute;
	top: 0;
	right: 0;

}

.register {
	padding-left: 1%;
	padding-right: 0px;
}

#cart tbody {
	font-size: 1.2em;
}

#cart thead {
	font-size: 1.2em;
}
